{% extends "base.html" %}
{% block content %}
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">Eisenhower's Quadrant 1.0</h1>
            <p>&nbsp;</p>
<div class="row justify-content-center">
          <div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="{{ url_for('add_task') }}" role="button">Add Task</a> </p>
              </div>
				<div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="{{ url_for('view_tasks') }}" role="button">View Tasks</a> </p>
              </div>
				<div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="{{ url_for('completed_tasks') }}" role="button">Completed Tasks</a> </p>
              </div>
				<div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="{{ url_for('set_alarm') }}" role="button">Set Alarm</a> </p>
              </div>
				<div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="{{ url_for('free_trial') }}" role="button">FREE TRIAL</a> </p>
              </div>
              <div class="col-auto">
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
	<center>
	<table>
		<tr>
			<td></td>
			<th>URGENT</th>
			<th>NON URGENT</th>
		</tr>
		<tr>
			<th>IMPORTANT</th>
			<td>
				{% for task in urgent_important_tasks %}
				{{ task }}<br>			
				{% endfor %}
			</td>			
			<td>
				{% for task in non_urgent_important_tasks %}
				{{ task }}<br>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>NON IMPORTANT</th>
			
			<td>
				{% for task in urgent_non_important_tasks %}
				{{ task }}<br>
				{% endfor %}
			</td>
			<td>
				{% for task in non_urgent_non_important_tasks %}
				{{ task }}<br>
				{% endfor %}
			</td>
		</tr>
	</table>
	<br>
	<h3>Complete a Task</h3>
	<br>
	<form method="POST">
		{{ complete_task_form.hidden_tag() }}
		{{ complete_task_form.task_completed_name.label }}
		{{ complete_task_form.task_completed_name }}
		{{ complete_task_form.submit_completed_task() }}
	</form>
	</center>
	<br>

    {% endblock %}

