{% extends "base.html" %}
{% block content %}
<h1>Learn More</h1>
<h4>Instructions</h4>
<ul>
    <li>To navigate through the website you can either use the control panel on the index page, or by using the 'Pages' dropdown menu on the navbar.</li>
    <li>On the index page you will be able to view the table displaying all of your tasks dependant on their urgency/importance. If you would like to tell the website that you have completed one of the tasks on the table, you can select it from the drop down menu on submit. This will remove the task from the table</li>
    <li>If you would like to add a new task to the table, please navigate to the 'Add Task' page, and fill out the necessary information in the form. From here you will automatically be sent back to the index page where your new task will be displayed in the table.</li>
    <li>If you would like to review your current tasks you can view all of them in the 'View Task' page. From here you can see all of your tasks with all of their information.</li>
    <li>If you change your mind and decide you no longer want a task on your table, you can delete a task from the 'View Task' page. Just select the task you wish to delete from the dropdown menu and press the button!</li>
    <li>If you would like to see past tasks that you have already completed, you can navigate to the 'Completed Tasks' page. Here you will be able to see all of the completed tasks and the date when the task was completed.</li>
    <li>You can review how long you have left to complete your tasks on the 'Time Limits' page, you can also see how many days overdue any tasks are.</li>
</ul>
<h4>The Developers</h4>
<p>This project was developed by Ian May and Sam Thompson</p>
{% endblock %}