{% extends "base.html" %}
{% block content %}

<h1>VIEW YOUR TASKS</h1>
<h3>You have {{ task_length }} current tasks</h3>
<table>
    <tr>
        <th>Task</th>
        <th>Urgency/Importance</th>
        <th>Status</th>
        <th>Date Added</th>
    <tr>
        {% for i in range(task_length) %}
        <tr>
            <td>{{ task_name_list[i] }}</td>
            <td>{{ task_type_list[i] }}</td>
            <td>Not Finished</td>
            <td>{{ task_added_list[i] }}</td>
        </tr>
        {% endfor %}
</table>

{% endblock %}



