{% extends "base.html" %}
{% block content %}

<h1>EDIT TASK PAGE</h1>
<h2>List of tasks</h2>
<table>
    <!-- <tr>
        <th>Task</th>
        <th>Urgency/Importance</th>
    </tr> -->
    <tr>
        <td>TASK</td>
        {% for name in template_task_name.values() %}
        <td>{{ name }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>URGENCY/IMPORTANCE</td>
        {% for t_type in template_task_type.values() %}
        <td>{{ t_type }}</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}