{% extends "base.html" %}
{% block content %}
<center>
    <br>
<h1>COMPLETED TASKS</h1>
<br>
<h4>You have {{ task_length }} completed tasks</h4>
<br>
<table>
    <tr>
        <th>Task</th>
        <th>Urgency/Importance</th>
        <th>Date Added</th>
        <th>Date Completed</th>
    <tr>
        {% for i in range(task_length) %}
        <tr>
            <td>{{ completed_task_name[i] }}</td>
            <td>{{ completed_task_type[i] }}</td>
            <td>{{ completed_task_added[i] }}</td>
            <td>{{ completed_task_completed[i] }}</td>
        </tr>
        {% endfor %}
</table>
<br>
</center>
{% endblock %}