{% extends "base.html" %}
{% block content %}
<center>
<br>
<h1>VIEW YOUR TASKS</h1>
<br>
<h4>You have {{ task_length }} current tasks</h4>
<br>
<table>
    <tr>
        <th>Task</th>
        <th>Urgency/Importance</th>
        <th>Status</th>
        <th>Date Added</th>
        <th>Complete By</th>
    <tr>
        {% for i in range(task_length) %}
        <tr>
            <td>{{ task_name_list[i] }}</td>
            <td>{{ task_type_list[i] }}</td>
            <td>Not Finished</td>
            <td>{{ task_added_list[i] }}</td>
            <td>{{ time_limit_list[i] }}</td>
        </tr>
        {% endfor %}
</table>
<br>
<h4>Delete a Task</h4>
<br>
<p>You can delete a task here if you no longer want to do it. Please select a task from the dropdown menu to delete.</p>
<form method="POST">
{{ delete_task_form.hidden_tag() }}
{{ delete_task_form.task_delete_name }}
{{ delete_task_form.submit_deleted_task() }}
</form>
<br>
{% endblock %}
</center>



